/* Tipografía The Seasons */
/* Usando The Seasons Bold.ttf para todos los pesos ya que tiene soporte para tildes españolas */
@font-face {
  font-family: 'The Seasons';
  src: url('./assets/fonts/The Seasons Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('./assets/fonts/The Seasons Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('./assets/fonts/The Seasons Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('./assets/fonts/The Seasons Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('./assets/fonts/The Seasons Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('./assets/fonts/The Seasons Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
